@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.heading{
    animation: fadeIn 3s;
}
@media(max-width:1050px){
    .header{
        height: 38vw;
    }
    .header-contents{
    max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button {
        padding: 2vw 3vw ;
        padding-top: 10px;
    }
}
.header{
    height: 37vw;
    margin: 30px auto;
    background: url('D:\react_projects\Food-Website\src\assets\header_img.png')no-repeat;
    background-size: contain ;
    position: relative;
    background-size: cover;
    margin-left: 11%;
    margin-right: 11%;
  

}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 11%;
    margin-left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 600;
    color:white;
    font-size: max(4vw,40px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    

}
.header-contents p{
    color: #ffffffd1;
    font-size: 1vw;
    margin-bottom: 40px;
}
